 .contador {
    color: white;
    font-size: 160px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    margin-bottom: 2rem;
 }