.game {
    margin: 50px 0;
    background-color:#2d5170;
    padding: 25px;
    .board-row {
        display: flex;
        button {
            font-size: 50px;
            color: #000;
        }
    }

     .game-info {
         ol {
             li {
                 font-size: 2rem;
                 color: white;
                 a {
                    cursor: pointer;
                    &:hover {
                        color: green;
                        text-decoration: underline;
                    }
                }
            }
        }
    } 
}